@model IEnumerable<Web_Technology.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <a href="https://localhost:44396/Product/DetailAdmin/@item.Idproduct"><img src="@item.Imagepicture" alt="Images" width="250px"> </a>
                </div>

                <div class="panel-body">
                    <h4>@item.Productname</h4>
                    <h3 style="color :Tomato;">@item.gia</h3>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    }
</div>